<div class="main">
  <div class="left__content">
    <h1>Bienvenido <br>P4Q</h1>
  </div>

  <div class="right__content">
    <div class="register">
      <h2>Register</h2>

      <form class="register__form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label> <br />
          <input type="text" id="name" name="name" placeholder="Name" formControlName="name" required/> <br />
          <div *ngIf="registerForm.get('name')?.hasError('required') && registerForm.get('name')?.touched" class="error-message">
            Name es requerido
          </div>
          <div *ngIf="registerForm.get('name')?.hasError('minlength') && registerForm.get('name')?.touched" class="error-message">
            Name debe tener al menos 3 caracteres
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label> <br />
          <input type="email" id="email" name="email" placeholder="Email" formControlName="email" required/> <br />
          <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="error-message">
            Email es requerido
          </div>
          <div *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched" class="error-message">
            Email inválido
          </div>
        </div>
        
        <div class="form-group">
          <label for="password">Password</label> <br />
          <input type="password" id="password" name="password" placeholder="Password" formControlName="password" required/> <br />
          <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="error-message">
            Password es requerido
          </div>
          <div *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched" class="error-message">
            Password debe tener al menos 6 caracteres
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label> <br />
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" formControlName="confirmPassword" required/> <br />
          <div *ngIf="registerForm.get('confirmPassword')?.hasError('required') && registerForm.get('confirmPassword')?.touched" class="error-message">
            Confirmar Password es requerido
          </div>
          <div *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched" class="error-message">
            Las contraseñas no coinciden
          </div>
        </div>


        <div class="form-group">
          <button type="submit" [disabled]="!registerForm.valid">Register</button>
        </div>

        <div class="form-group" style="text-align: center;">
          <p style="font-size: 10pt;">¿Ya tienes una cuenta? <a class="register__link" (click)="onClickLogin()">Ingresa aquí</a></p> 
        </div>
      </form>
    </div>
  </div>
</div>