.modal-container{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    max-width: 75%;

}
h2{
    margin: 0;
    padding: 0.5em;
}

button{
    background-color: black;
    color: white;
    width: 10em;
    margin: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}